<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login bibliotecario</title>
</head>
<body>
<h1>Login bibliotecario</h1>

<form th:action="@{/login}" method="post">
    <div>
        <label>Usuario:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Contraseña:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Entrar</button>
    </div>

    <div th:if="${error}">
        <p th:text="${error}" style="color:red"></p>
    </div>

    <div th:if="${param.logout}">
        <p>Has cerrado sesión correctamente.</p>
    </div>
</form>

</body>
</html>