<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Detalle de libro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/biblioteca.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/message.js" defer></script>
    <script src="/js/libro2.js" defer></script>
</head>
<body>
<header>
    <div class="header-left">
        <span class="logo-circle">📚</span>
        <span class="titulo">Biblioteca</span>
    </div>

    <div class="header-right">
        <button type="button" class="btn-home" onclick="volver()">
            🔙
        </button>
        <button type="button" class="btn-home" onclick="window.location.href='/biblioteca'">
            🏠
        </button>

        <form action="/logout" method="post">
            <button type="submit" class="btn-header">
                Cerrar sesión
            </button>
        </form>
    </div>
</header>
<div class="toolbar">
    <!-- showPrestarModal() -->
    <button id="btnCrearCopia" sec:authorize="hasRole('ADMIN')">Crear Copia</button>
</div>
<div class="container mt-4">
    <h1 id="tituloLibro" class="text-primary mb-4">Libro</h1>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Ficha del Libro</h5>
            <p><strong>Autor:</strong> <span id="nombreAutor"></span></p>
            <p><strong>ISBN:</strong><span id="ISBN"></span></p>
            <p><strong>Número de copias:</strong> <span id="numCopias"></span></p>
            <button class="btn btn-danger" onClick="deleteLibro()" sec:authorize="hasRole('ADMIN')">Borrar Libro</button>
            <button class="btn btn-primary" id="btnModificarLibro" sec:authorize="hasRole('ADMIN')"> Modificar Libro</button>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Copias</h5>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-primary">
                    <tr>
                        <th>Id</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyCopias">
                    <!-- se rellenará desde libro.js -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--  MODAL Crear copias Libro-->
<div id="modalNumCopias" class="modal-fondo">
    <div class="modal">
        <h4>Crear copias libro</h4>

        <label>Número de copias</label>
        <input type="number" id="inputNumCopias">

        <div class="botones">
            <button class="btn-cancelar" onclick="cerrarModal('#modalNumCopias')">Cancelar</button>
            <button class="btn-aceptar" onClick="crearCopiasLibro()" sec:authorize="hasRole('ADMIN')">Confirmar</button>
        </div>
    </div>
</div>
<!-- MODAL Update Libro -->
<div id="modalUpdateLibro" class="modal-fondo">
    <div class="modal">
        <h4>Crear Libro</h4>
        <label>Título</label>
        <input type="text" id="libroTituloInput" required>
        <label>Tipo</label>
        <select id="libroTipo">
            <option value="NOVELA">NOVELA</option>
            <option value="ENSAYO">ENSAYO</option>
            <option value="POESIA">POESIA</option>
            <option value="TEATRO">TEATRO</option>
        </select>
        <label>Editorial</label>
        <input type="text" id="libroEditorial">
        <label>Año</label>
        <input type="number" id="libroAnyo" value="2025" min="0">
        <label>ISBN</label>
        <input type="number" id="libroISBN">
        <label>ID Autor</label>
        <input type="number" id="libroAutorId">
        <div class="botones">
            <button class="btn-cancelar" onclick="cerrarModal('#modalUpdateLibro')">Cancelar</button>
            <button class="btn-aceptar" onclick="updateLibro()" sec:authorize="hasRole('ADMIN')">Modificar</button>
        </div>
    </div>
</div>
</body>
</html>
