<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de libro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/biblioteca.css">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JS propio -->
    <script src="/js/libro2.js" defer></script>
</head>
<body>
<header>
    <div class="header-left">
        <span class="logo-circle">📚</span>
        <span class="titulo">Biblioteca</span>
    </div>

    <div class="header-right">
        <button type="button" class="btn-home" onclick="window.location.href='/biblioteca'">
            🏠
        </button>

        <form action="/logout" method="post">
            <button type="submit" class="btn-header">
                Cerrar sesión
            </button>
        </form>
    </div>
</header>
<div class="toolbar">
    <!-- showPrestarModal() -->
    <button id="btnCrearCopia">Crear Copia</button>
</div>
<div class="container mt-4">
    <h1 id="tituloLibro" class="text-primary mb-4">Libro</h1>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Ficha del Libro</h5>
            <p><strong>Autor:</strong> <span id="nombreAutor"></span></p>
            <p><strong>Número de copias:</strong> <span id="numCopias"></span></p>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Copias</h5>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-primary">
                    <tr>
                        <th>Id</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyCopias">
                    <!-- se rellenará desde libro.js -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modalNumCopias" class="modal-fondo">
    <div class="modal">
        <h4>Crear copias libro</h4>

        <label>Número de copias</label>
        <input type="number" id="inputNumCopias">

        <div class="botones">
            <button class="btn-cancelar" onclick="cerrarModal('#modalNumCopias')">Cancelar</button>
            <button class="btn-aceptar" onClick="crearCopiasLibro()">Confirmar</button>
        </div>
    </div>
</div>
</body>
</html>
